* {
  margin: 0;
  font-family: 'Inter', 'Poppins', sans-serif;
}
h3 {
  padding-top: 50px;
  background: linear-gradient(135deg, #f0b414, #fceabb);
}
.create-line {
  height: 800px;
  margin-left: 400px;
  padding-top: 300px;
  border-left: 4px solid;
}
.buttonIS {
  padding: 12px 152px; font-size: 18px; background-color: #f0b414; cursor: pointer;
}
.buttonCron {
  padding: 12px 180px; font-size: 18px; display: flex; flex-direction: column; background-color: #f0b414; cursor: pointer;
}
.pfp {
  font-size: 22px;
}
.logo {
  position: absolute;
  margin-top: -68px;
  height: 60px;
  margin-left: 851px;
}
