<h3>{{ username }}</h3>
<hr>
<div class="create-line"></div>
<table border="1" style="border-collapse: collapse; width: 70%; text-align: left;">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Department</th>
      <th>Access level</th>
      <th>Phone</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>56495885</td>
      <td>A A</td>
      <td>Finance</td>
      <td>Database1</td>
      <td>+7(701)2825237</td>
    </tr>
    <tr>
      <td>67873957</td>
      <td>B B</td>
      <td>Finance</td>
      <td>Database2</td>
      <td>+7(717)3869652</td>
    </tr>
    <tr>
      <td>47295345</td>
      <td>C C</td>
      <td>IT</td>
      <td>Admin</td>
      <td>+7(727)5467392</td>
    </tr>
    <tr>
      <td>84859634</td>
      <td>D D</td>
      <td>Finance</td>
      <td>Database3</td>
      <td>+7(702)4942528</td>
    </tr>
    <tr>
      <td>58254887</td>
      <td>E E</td>
      <td>IT</td>
      <td>Admin</td>
      <td>+7(701)2836844</td>
    </tr>
    <tr>
      <td>73758735</td>
      <td>F F</td>
      <td>IT</td>
      <td>Admin</td>
      <td>+7(707)1222345</td>
    </tr>
  </tbody>
</table>
