<h3>{{ username }}</h3>
<hr>
<button [routerLink]="['/admin']" style="padding: 12px 155px; font-size: 18px;">Список ИС</button>
<button [routerLink]="['/cron']" style="padding: 12px 180px; font-size: 18px; display: flex; flex-direction: column;">Cron</button>
<div class="create-line" ></div>
<div class="tabl">
<table border="1" cellpadding="10">
  <thead>
    <tr>
      <th>ID</th>
      <th>Code</th>
      <th>name</th>
      <th>description</th>
      <th>comment</th>
      <th>Actual</th>
      <th>Critical</th>
      <th>Created on</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of items | paginate: { itemsPerPage: itemsPerPage, currentPage: page }">
      <td>{{ item.id }}</td>
      <td>{{ item.code }}</td>
      <td>{{ item.name }}</td>
      <td>{{ item.description }}</td>
      <td>{{ item.comment }}</td>
      <td>{{ item.isActual }}</td>
      <td>{{ item.isCritical }}</td>
      <td>{{ item.createdDate }}</td>
    </tr>
  </tbody>
</table>
<div class="pagination-controls-wrapper">
  <div class="page-size-selector">
  <pagination-controls (pageChange)="page = $event"></pagination-controls>
  <select [(ngModel)]="itemsPerPage">
  <option *ngFor="let size of perPageOptions" [value]="size">
    {{ size }}
  </option>
</select>
    </div>
  </div>
</div>



