* {
  margin: 0;
}
h3 {
  padding-top: 50px;
}
.create-line {
  height: 800px;
  margin-left: 400px;
  padding-top: 300px;
  border-left: 4px solid;
}
.tabl
{
  position: absolute;
  margin-top: -1150px;
  margin-left: 500px;
}
.pagination-controls-wrapper {
  justify-content: space-between;
}

.page-size-selector {
  display: flex;
  align-items: center;
  gap: 10px;
}
