<h3> <nz-icon nzType="user" nzTheme="outline" class="pfp"/>{{ username }}</h3>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Poppins:wght@400;600&display=swap" rel="stylesheet">
<hr>
<button [routerLink]="['/admin']" class="buttonIS">Список ИС</button>
<button [routerLink]="['/cron']" class="buttonCron">Cron</button>
<div class="create-line" ></div>
<div class="tabl">
<nz-table #outBordered nzOuterBordered nzBordered [nzData]="items" [nzLoading]="loading" [nzShowPagination]="false" [nzScroll]="{ x: '100%' }"
  style="width: 100%">
  <thead>
    <tr>
      <th>ID</th>
      <th>Code</th>
      <th>name</th>
      <th>description</th>
      <th>comment</th>
      <th>Actual</th>
      <th>Critical</th>
      <th>Created on</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of items | paginate: { itemsPerPage: itemsPerPage, currentPage: page }">
      <td>{{ item.id }}</td>
      <td>{{ item.code }}</td>
      <td>{{ item.name }}</td>
      <td>{{ item.description }}</td>
      <td>{{ item.comment }}</td>
      <td>{{ item.isActual }}</td>
      <td>{{ item.isCritical }}</td>
      <td>{{ item.createdDate }}</td>

    </tr>
  </tbody>
</nz-table>
<div class="pagination-controls-wrapper">
  <div class="page-size-selector">
  <pagination-controls (pageChange)="page = $event"></pagination-controls>
  <select [(ngModel)]="itemsPerPage">
  <option *ngFor="let size of perPageOptions" [value]="size">
    {{ size }}
  </option>
</select>
    </div>
  </div>
<ul>
  <li *ngFor="let user of users">
    {{ user.username }} - {{ user.roles }}
  </li>
</ul>
</div>



