@import url('../../../../../public/fonts/inter/fonts.css');
@import url('../../../../../public/fonts/poppins/fonts.css');
* {
  margin: 0;
  font-family: 'Inter', 'Poppins', sans-serif;
}
.deleteb {
  margin-left: 1120px;
}
