<h3> <nz-icon nzType="user" nzTheme="outline" class="pfp"/>{{ username }}</h3>
<img src="filenam.webp" alt="Logo" class="logo">
<hr>
<button [routerLink]="['/admin']" class="buttonIS">Список пользователей</button>
<button [routerLink]="['/cron']" class="buttonCron">Cron</button>
<div class="create-line" ></div>
<body>
  <div class="content">

    <form action="#">
      <label for="task">Choose task:</label>
      <select name="task" id="task">
        <option value="sync">Sync</option>
        <option value="update">Update</option>
      </select>
    </form>

    <form action="#">
      <label for="interval">Every</label>
      <input type="text" id="interval" name="interval" placeholder="Number">
      <select name="time" id="time">
        <option value="minutes">minutes</option>
        <option value="hours">hours</option>
        <option value="days">days</option>
        <option value="week">week</option>
        <option value="month">month</option>
      </select>
    </form>

    <div class="divider">OR</div>

    <div class="section">
      <label>At</label>
      <input type="text" placeholder="hours">
      <label>:</label>
      <input type="text" placeholder="minutes">
      <label>Day of the month:</label>
      <input type="text" placeholder="day">
    </div>

    <div class="divider">OR</div>

    <form action="#">
      <label>At</label>
      <input type="text" placeholder="hours">
      <label>:</label>
      <input type="text" placeholder="minutes">
      <label>Day of the week:</label>
      <select id="week">
        <option>Monday</option>
        <option>Tuesday</option>
        <option>Wednesday</option>
        <option>Thursday</option>
        <option>Friday</option>
        <option>Saturday</option>
        <option>Sunday</option>
      </select>
    </form>

    <div class="divider">(use - to define range or , to include multiple values)</div>

    <div class="section">
  <h4>Minutes</h4>
  <div class="btn-grid">
    <button *ngFor="let minute of minutes" type="button">{{ minute }}</button>
  </div>
</div>

<div class="section">
  <h4>Hours</h4>
  <div class="btn-grid">
    <button *ngFor="let hour of hours" type="button">{{ hour }}</button>
  </div>
</div>

<div class="section">
  <h4>Days of the Month</h4>
  <div class="btn-grid">
    <button *ngFor="let day of days" type="button">{{ day }}</button>
  </div>
</div>

    <div class="section">
      <h4>Days of the Week</h4>
      <div class="btn-grid">
        <button type="button">Mon</button>
        <button type="button">Tue</button>
        <button type="button">Wed</button>
        <button type="button">Thu</button>
        <button type="button">Fri</button>
        <button type="button">Sat</button>
        <button type="button">Sun</button>
      </div>
    </div>

    <button class="submit-btn">Submit</button>
  </div>
</body>
