<nz-input-group [nzSuffix]="suffixIcon">
  <input
    type="text"
    nz-input
    placeholder="Search by username or role"
    [(ngModel)]="searchTerm"
    (ngModelChange)="onSearch()"
/>
  <ng-template #suffixIcon>
    <i nz-icon nzType="search"></i>
  </ng-template>
</nz-input-group>
<nz-table #outBordered nzOuterBordered nzBordered [nzShowPagination]="false" [nzScroll]="{ x: '100%' }" style="width: 100%">
  <thead>
    <tr>
      <th>ID</th>
      <th>Username</th>
      <th>Role</th>
      <th>Delete</th>
      <th>Edit</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users | paginate: { itemsPerPage: itemsPerPage, currentPage: page }">
    <td>{{ user.id }}</td>
    <td>{{ user.username }}</td>
    <td>{{ user.roles }}</td>
    <td>
      <button nz-button nzType="default" (click)="deleteUser(user.id); createMessage('success')">
  <nz-icon nzType="delete" nzTheme="outline"></nz-icon>
</button>
    </td>
      <td>
    <button nz-button nzType="primary" (click)="openEditDrawer(user)">
      <nz-icon nzType="edit"></nz-icon> Edit
    </button>
  </td>
  </tr>
  </tbody>
</nz-table>
<div class="pagination-controls-wrapper">
  <div class="page-size-selector">
  <pagination-controls (pageChange)="page = $event"></pagination-controls>
  <select [(ngModel)]="itemsPerPage">
  <option *ngFor="let size of perPageOptions" [value]="size">
    {{ size }}
  </option>
</select>
    </div>
  </div>
<nz-drawer
  [nzVisible]="isEditDrawerVisible"
  nzTitle="Edit User"
  nzPlacement="right"
  [nzWidth]="360"
  (nzOnClose)="closeEditDrawer()"
>
  <form [formGroup]="editForm" (ngSubmit)="submitEdit()">
    <nz-form-item>
      <nz-form-label [nzSpan]="6">Username</nz-form-label>
      <nz-form-control [nzSpan]="16">
        <input nz-input formControlName="username" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="6">Role</nz-form-label>
      <nz-form-control [nzSpan]="16">
        <input nz-input formControlName="roles" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-control [nzSpan]="24">
        <button nz-button nzType="primary" htmlType="submit" [disabled]="editForm.invalid">
          Save
        </button>
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-drawer>
